body {
    /* Colors */
    --background-normal: white;
    --color-primary: #3b8070;
    --color-secondary: #35495e;
    --color-danger: rgb(247, 47, 47);
    --background-danger: rgba(255, 96, 96, 0.63);
    --text-normal: black;
    --text-normal-contrast: white;
    --text-primary: white;
    --text-secondary: white;
    --text-danger: black;
    --text-danger-contrast: white;

    /* Borders */
    --border-radius: 2px;
    --border-width: 1px;
    --border-style: solid;
    --focus-border-width: 2px;

    /* Padding */
    --padding: 5px;
    --button-padding: var(--padding);
    --input-padding: var(--padding);

    /* Margin between controls in a form */
    --form-control-margin: 1px;

    /* Duration for transitions */
    --transition-duration: 0.25s;
    
    /* Cursor when hovering over a button */
    --button-cursor: pointer; 

    /* Default font */
    --font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    /* Font for `h1.title` */
    --title-font: "Quicksand", var(--font-family);
    /* Font for `h2.subtitle` */
    --subtitle-font: var(--font-family);
    /* Text color for `h1.title` */
    --title-color: #35495e;
    /* Text color for `h2.subtitle` */
    --subtitle-color: #526488;
    /* Font size for `h1.title` */
    --title-size: 100px;
    /* Font size for `h2.subtitle` */
    --subtitle-size: 42px;
    /* Font weight for `h1.title` */
    --title-weight: 300;
    /* Font weight for `h2.subtitle` */
    --subtitle-weight: var(--title-weight);

    font-family: var(--font-family);
    margin: 0;
}

/* Titles */
h1.title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    display: block;
    letter-spacing: 1px;
    margin: 0;
}

/* Subtitles */
h2.subtitle {
    font-family: var(--subtitle-font);
    color: var(--subtitle-color);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    display: block;
    word-spacing: 5px;
    margin: 0;
    padding-bottom: 15px;
}

/* A container that is horizontally (but not vertically) centered, use <container> as the tag */
container:not([flex-center]) {
    display: block;
    margin: auto;
    width: 80%;
}

/* A container that has its content both horizontally and vertically centered. Use <container flex-center> as the tag. */
container[flex-center] {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A form. */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Any non-hidden input in a form. */
form :not(input[type=hidden]) {
    margin: var(--form-control-margin);
}

/* A button. */
button {
    --text-color: var(--text-normal);
    --background-color: var(--background-normal);
    --background-hover: var(--text-normal);
    --text-hover: var(--text-normal-contrast);
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-style) var(--text-color);
    color: var(--text-color);
    padding: var(--button-padding);
    background-color: var(--background-color);
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    cursor: var(--button-cursor);
}

/* A primary button. */
button[primary] {
    --text-color: var(--color-primary);
    --background-color: var(--text-primary);
    --background-hover: var(--color-primary);
    --text-hover: var(--text-primary);
}

/* A secondary button. */
button[secondary] {
    --text-color: var(--color-secondary);
    --background-color: var(--text-secondary);
    --background-hover: var(--color-secondary);
    --text-hover: var(--text-secondary);
}

/* A big red button. */
button[danger] {
    --text-color: var(--color-danger);
    --background-color: var(--text-danger-contrast);
    --background-hover: var(--color-danger);
    --text-hover: var(--text-danger-contrast);
}

/* Any non-hidden input anywhere. */
input:not([type=hidden]) {
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-style) var(--color-primary);
    color: var(--text-normal);
    background-color: var(--background-normal);
    padding: var(--input-padding);
    box-sizing: border-box;
}

/* Any non-hidden input anywhere, when focused. */
input:not([type=hidden]):focus {
    outline: none;
    border-width: var(--focus-border-width);
}

/* A button, hovered or focused */
button:hover, button:focus {
    background-color: var(--background-hover);
    color: var(--text-hover);
}

/* Center text. Use the `text-center` attribute. */
[text-center] {
    text-align: center;
}

/* An h1. What else? */
h1 {
    font-weight: normal;
}

/* An error. */
noscript, .error {
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-style) var(--color-danger);
    background-color: var(--background-danger);
    color: var(--text-danger);
    padding: var(--padding);
    margin: auto;
}